


		

<html>

<head>

	<title>C2ER State Incentives Demo</title>	

</head>



<body>





<form method="post" name="frm" id="frm" action="http://api.c2er.org/stateincentives/v1.0/demo/ASPDemo/example.asp?guid={C18CB85C-DE5F-4D81-BE3D-7D677FB23231&show=true">

<table border="0" cellpadding="0" width="1000" text-align="center" cellspacing="0" style="font-family:tahoma;font-size:9pt">

	<tr>

		<td colspan="3">

			<h3>C2ER State Incentives Web Service Demo</h3>

		</td>

	</tr>

	<tr>

		<td colspan="3" height="15"></td>

	</tr>

    <tr>

      <td valign="top">

		<b>State:</b><br>

		<select name="lstState" id="lstState" multiple="multiple" size="5">

			<option value=""  selected >All</option>



		</select>

	  </td>

	  <td>&nbsp;&nbsp;&nbsp;</td>

	  <td valign="top">

	  <b>Keyword</b><br>

	  <input type="text" size="25" name="txtKeyword" id="txtKeyword" value="" /><br>

	  Search In:<br>

	  <table style="font-family:tahoma;font-size:9pt">

	  <tr>

	  <td><input type="checkbox" id="chkName" name="chkname" /></td>

	  <td>Program Name</td>

	  </tr>

	  <tr>

	  <td><input type="checkbox" id="chkProvider" name="chkProvider"  /></td>

	  <td>Program Provider</td>

	  </tr>

	  <tr>

	  <td><input type="checkbox" id="chkDescription" name="chkDescription"  /></td>

	  <td>Program Description</td>

	  </tr>

	  </table>

	  </td>

	  <td>&nbsp;&nbsp;&nbsp;</td>

	  <td valign="top">

	  <b>Program Category</b><br>

		<select name="lstCategory" id="lstCategory">

			<option value="" selected>All</option>



		</select>

		<br>

		<b>Program Type</b><br>

		<select name="lstType" id="lstType">

			<option value="" selected>All</option>



		</select>

		<br>

		<b>Business Need</b><br>

		<select name="lstBusinessNeed" id="lstBusinessNeed">

			<option value="" selected>All</option>



		</select>

		<br>

		<b>Program Industry</b><br>

		<select name="lstIndustry" id="lstIndustry">

			<option value="" selected>All</option>



		</select>

		<br>

		<b>Geographic Focus</b><br>

		<select name="lstFocus" id="lstFocus">

			<option value="" selected>All</option>



		</select>

	  </td>

  </tr>

  <tr>

  <td colspan="5">

  <input type="Submit" name="btnSubmit" id="btnSubmit" value="Search" />

  </td>

  </tr>

</table>

</form>

<br><br>







<table cellpadding="3" width="1000" text-align="center" cellspacing="0" style="font-family:tahoma;font-size:9pt">

<tr>

<td bgcolor="navy" style="color:white"><b>State</b></td>

<td bgcolor="navy" style="color:white"><b>Program Name</b></td>

<td bgcolor="navy" style="color:white"><b>Program Provider</b></td>

<td bgcolor="navy" style="color:white"><b>Program Description</b></td>

<td bgcolor="navy" style="color:white"><b>Details</b></td>

<td bgcolor="navy" style="color:white"><b>Website</b></td>

</tr>



</table>







</body>

</html>

