
<div id="block-views-upcoming_events-block_1" class="block block-views">


  <div class="content">
    <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block_1 advanced-filtered-search view-dom-id-1">
        
  <div id="id01"></div>

<script>
var xmlhttp = new XMLHttpRequest();
var url = "events.json";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        myFunction(myArr);
    }
}
xmlhttp.open("GET", url, true);
xmlhttp.send();



function myFunction(arr) {
    var out = "";
    var i;
    for(i = 0; i < 3; i++) {
        out += '<div class="views-row-1 views-row-' + arr[i].rowdiv +  ' views-row-first"> <div class="views-field-title"><span class="field-content"><a href="{{ site.baseurl }}{{ post.url }}' + arr[i].url + '">' + 
        arr[i].title + '</a></span></div><div class="views-field-field-date-1-value"><span class="date-display-start">' + arr[i].startdate + '</span><span class="date-display-end">' + arr[i].enddate + '</span></div><div class="views-field-field-location-value"><span class="field-content">' + arr[i].location + '</span></div></div></div></a></div>';
    }
    document.getElementById("id01").innerHTML = out;
}
</script>

  </div>
  </div>
  </div>
  
