<div id="block-views-upcoming_events-block_1" class="block block-views">
  <h2>Upcoming Events</h2>

  <div class="content">
    <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block_1 advanced-filtered-search view-dom-id-1">
    
  {% assign sorted_pages = (site.categories.events | sort: date) %}
  {% for post in sorted_pages limit: 3 %}
      <div class="view-content">
       {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
          <div class="views-row-1 views-row-odd views-row-first">
        {% else %}
          <div class="views-row-1 views-row-even views-row-first">
        {% endif %}
        
      
  <div class="views-field-title">
           <span class="field-content">
              <a href="http://selectusa.github.io/website{{ post.url }}">{{ post.title }}</a>
          </span>
  </div>
  
  <div class="views-field-field-date-1-value">
                


                <span class="date-display-start">
              {{post.date-display-start}} 
            </span>
             {% if post.date-display-end == post.date-display-start %}
             {% else %}
            <span class="date-display-separator"> - </span>
            <span class="date-display-end">
              {{post.date-display-end}}
            </span>
             {% endif %}
  </div>
  
  <div class="views-field-field-location-value">
                <span class="field-content">{{post.location-value}}</span>
  </div>
  </div>
  
 
    </div>
  
  
  {% endfor %}
      
<div class="more-link">
  <a href="upcoming-events.html">
    See all events &gt;  </a>
</div>
  </div>
  </div>
  </div>