	<head>
	<link href="{{ site.baseurl }}/stylesheets/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <script src="{{ site.baseurl }}/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/filter.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/articles.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/index.js" type="text/javascript"></script>
  </head>
  <body>
  <div class="row" >
   <div class="col-md-4 col-sm-6">
   
   <div class="panel panel-default">
   <div class="panel-heading"><h3>Federal Programs and Incentives for Business</h3></div>
   			<div class="panel-body">

   			
        <div>
        <p style="font-size:12px;"><strong>How to refine your search</strong>
        
      </br>Use the search options on the left to narrow down your search results. If you don't select any filters, you will see all incentive programs.

If you select one or more filter terms in one filter category, you will see all incentive programs that match any one of the terms selected.
     </p>
        <h4>Search by Keyword</h4>
          <input type="text" id="searchbox" placeholder="Search">
        </div>
        <div class="criteria" id="genre_criteria">
        </br>
        <p>Results (<span id="total_movies">250</span>)</p>
                  <div class="checkbox">
            	<div class="btn btn-primary center-block">
            		<label >
              			<input type="checkbox" value="All" id="all_genre" class="hidden" ><span style="margin-left:-25px;color:#fff;">Select/Deselect All Categories</span>
            		</label>
            	</div>
          </div>
          </br>
          <h4>Assistance Type</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Funding"> Funding
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Information"> Information
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Tax Incentives"> Tax Incentives
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Technical Assistance"> Technical Assistance
            </label>
            </div>
            </br><h4>Purpose</h4>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="Education"> Education
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Energy"> Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Environment"> Environment
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Health"> Health
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Real Estate"> Real Estate
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Research and Development"> Research and Development
            </label>
            </div>
            </br><h4>Industry</h4>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="Aerospace"> Aerospace
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Agribusiness and Forest Products"> Agribusiness and Forest Products
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Automotive"> Automotive
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Chemicals and Pharmaceuticals"> Chemicals and Pharmaceuticals
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Construction and Real Estate"> Construction and Real Estate
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Consumer Goods"> Consumer Goods
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Creative and Media"> Creative and Media
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Defense and Security"> Defense and Security
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Education and Training"> Education and Training
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Electronics and Industrial Equipment"> Electronics and Industrial Equipment
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Environment and Energy"> Environment and Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Financial Services"> Financial Services
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Food, Beverage and Restaurant"> Food, Beverage and Restaurant
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Information and Communication Technology"> Information and Communication Technology
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Life Sciences and Medical"> Life Sciences and Medical
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Logistics and Transportation"> Logistics and Transportation
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Manufacturing"> Manufacturing
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Petroleum, Minerals and Mining"> Petroleum, Minerals and Mining
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Physical Science and Engineering"> Physical Science and Engineering
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Professional Services (Legal, Accounting, etc.)"> Professional Services (Legal, Accounting, etc.)
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Retail Trade"> Retail Trade
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Textiles"> Textiles
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Travel, Tourism and Hospitality"> Travel, Tourism and Hospitality
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Wholesale and Retail Trade"> Wholesale and Retail Trade
            </label>
            </div>
            </br><h4>Agency</h4>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Agriculture"> Department of Agriculture
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Commerce"> Department of Commerce
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Defense"> Department of Defense
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Education"> Department of Education
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Energy"> Department of Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Health and Human Services"> Department of Health and Human Services
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Homeland Security"> Department of Homeland Security
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Housing and Urban Development"> Department of Housing and Urban Development
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Justice"> Department of Justice
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Labor"> Department of Labor
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of State"> Department of State
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of the Interior"> Department of the Interior
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of the Treasury"> Department of the Treasury
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Transportation"> Department of Transportation
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Department of Veterans Affairs"> Department of Veterans Affairs
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Small Business Administration"> Small Business Administration
            </label>
        </div></div>
        
      
                <div class="clearfix"></div>
            </div>
         </div>
	</div>
	
	
  	<div class="col-md-8 col-sm-6">      
      	 <div class="panel panel-default">
   			<div class="panel-body">
              
              <div class="clearfix"></div>
      <h2>Search Federal Business Incentives</h2>
            
      <div class="sorting content float:left;width:50%;overflow:hidden;">
      </div>
     <div class="movies content col-span-9" id="movies">
      </div>
      
      <script id="movie-template" type="text/html">
        <div class="col-span-4 movie">
          <div class="thumbnail">
           
          <div class="caption">
            <a href="<%= link %>"><h4><%= name %></h4></a>
            <div class="outline">
              <%= outline %>
              </br></br>
            </div>
          </div>
        </div>
      </div>
      </script>
      <script id="genre_template" type="text/html">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="<%= genre %>"> <%= genre %>
          </label>
        </div>
      </script>
      </div>
            

         </div>
        
  	</div>
    </body>
  </html>
