<!-- script references -->

		
	{% if page.title == "Events" %}
	{% else %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	{% endif %}
		<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script>
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>
{% if page.title == "Events" %}
	{% else %}
	<script src="{{ site.baseurl }}/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
	{% endif %}

	<script src="{{ site.baseurl }}/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/filter.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/articles.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/translate.js"></script>
    <script src="{{ site.baseurl }}/javascripts/lang.js"></script>
    
		<script src="{{ site.baseurl }}/js/scripts.js"></script>
	<!--script src="{{ site.baseurl }}/javascripts/raphael.js"></script -->
	<!-- <script src="scale.raphael.js"></script> -->
	<!-- script src="{{ site.baseurl }}/javascripts/color.jquery.js"></script -->
	<!-- script src="us-map.js"></script -->
  	<!-- script src="{{ site.baseurl }}/javascripts/jquery.usmap.js"></script -->


<script src="{{ site.baseurl }}/javascripts/mapdata.js"></script>
		<script src="{{ site.baseurl }}/javascripts/usmap.js"></script>
	
	<script>
	
var state_urls = {
'AL' : 'http://www.madeinalabama.com/',
'AK' : 'http://www.alaska.gov',
'AZ' : 'http://www.azcommerce.com',
'AR' : 'http://www.arkansasedc.com',
'CA' : 'http://www.business.ca.gov/',
'CO' : 'http://www.advancecolorado.com',
'CT' : 'http://www.ct.gov/ecd/',
'DE' : 'http://global.delaware.gov',
'DC' : 'http://dcbiz.dc.gov',
'FL' : 'http://www.enterpriseflorida.com',
'GA' : 'http://www.georgia.org',
'HI' : 'http://invest.hawaii.gov',
'ID' : 'http://commerce.idaho.gov/',
'IL' : 'http://www.illinoisbiz.biz',
'IN' : 'http://www.iedc.in.gov',
'IA' : 'http://www.iowaeconomicdevelopment.com/',
'KS' : 'http://www.kansascommerce.com',
'KY' : 'http://www.thinkkentucky.com',
'LA' : 'http://www.opportunitylouisiana.com/',
'ME' : 'http://www.mitc.com',
'MD' : 'http://www.business.maryland.gov',
'MA' : 'http://www.mass.gov/moiti/',
'MI' : 'http://www.michiganbusiness.org/',
'MN' : 'http://mn.gov/deed/invest',
'MS' : 'http://www.mississippi.org',
'MO' : 'http://www.missouripartnership.com',
'MT' : 'http://commerce.mt.gov',
'NE' : 'http://www.neded.org',
'NV' : 'http://www.diversifynevada.com/',
'NH' : 'http://www.nheconomy.com',
'NJ' : 'http://www.nj.gov/state/bac/',
'NM' : 'http://www.tradenm.com',
'NY' : 'http://www.esd.ny.gov',
'NC' : 'http://www.thrivenc.com/',
'ND' : 'http://www.business.nd.gov/',
'OH' : 'http://jobs-ohio.com/',
'OK' : 'http://www.okcommerce.gov',
'OR' : 'http://www.oregon4biz.com',
'PA' : 'http://www.newpa.com',
'RI' : 'http://www.commerceri.com ',
'SC' : 'http://sccommerce.com/',
'SD' : 'http://www.sdreadytowork.com',
'TN' : 'http://www.tn.gov/ecd/',
'TX' : 'http://www.texaswideopenforbusiness.com',
'UT' : 'http://www.business.utah.gov',
'VT' : 'http://www.thinkvermont.com',
'VA' : 'http://www.yesvirginia.org',
'WA' : 'http://www.choosewashington.com/',
'WV' : 'http://www.wvcommerce.org/',
'WI' : 'http://wedc.org',
'WY' : 'http://wyomingbusiness.org/Relocation',
'AS' : 'http://doc.as.gov',
'GU' : 'http://www.investguam.com',
'MP' : 'http://www.commerce.gov.mp',
'PR' : 'http://ddec.pr.gov/en/',
'VI' : 'http://www.usvieda.org',
};

	$(document).ready(function() {

	  
	  $('#map').usmap({

	    
'click' : function(event, data) {
var urls = state_urls[data.name];
window.open(urls);
}
	  });
	  

	});
	</script>
<!-- Google Analytics & Federal Analytics -->

<script type="text/javascript">
if (typeof jQuery != 'undefined') {
     jQuery(document).ready(function($) {
         var filetypes = /\.(zip|exe|pdf|mp4|mov|wmv|txt|doc*|xls*|ppt*|mp3)$/i;
         var baseHref = '';
         if (jQuery('base').attr('href') != undefined)
             baseHref = jQuery('base').attr('href');
         jQuery('a').each(function() {
             var href = jQuery(this).attr('href');
             if (href && (href.match(/^https?\:/i)) && (!href.match(document.domain))) {
                 jQuery(this).click(function() {
                     var extLink = href.replace(/^https?\:\/\//i, '');
                     _gaq.push(['_trackEvent', 'External', 'Click', extLink]);
                     if (jQuery(this).attr('target') != undefined && jQuery(this).attr('target').toLowerCase() != '_blank') {
                         setTimeout(function() { location.href = href; }, 200);
                         return false;
                     }
                 });
             }
             else if (href && href.match(/^mailto\:/i)) {
                 jQuery(this).click(function() {
                     var mailLink = href.replace(/^mailto\:/i, '');
                     _gaq.push(['_trackEvent', 'Email', 'Click', mailLink]);
                 });
             }
             else if (href && href.match(filetypes)) {
                 jQuery(this).click(function() {
                     var extension = (/[.]/.exec(href)) ? /[^.]+$/.exec(href) : undefined;
                     var filePath = href;
                     _gaq.push(['_trackEvent', 'Download', 'Click-' + extension, filePath]);
                     if (jQuery(this).attr('target') != undefined && jQuery(this).attr('target').toLowerCase() != '_blank') {
                         setTimeout(function() { location.href = baseHref + href; }, 200);
                         return false;
                     }
                 });
             }
         });
     });
} </script>
 
<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18792204-2']);
  _gaq.push(['_setDomainName', 'selectusa.commerce.gov']);
  _gaq.push(['_trackPageview']);
setTimeout("_gaq.push(['_trackEvent', '10_seconds', 'read'])",10000);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script> 
 
<script language="javascript" id="_fed_an_ua_tag" src="{{ site.baseurl }}/javascripts/UniversalFederated-Analytics.js?agency=DOC&subagency=ITA"></script>
  
  <!-- End Google Analytics & Federal Analytics -->
