<div class="container" id="main">

   <div class="row">
   <div class="col-md-12 col-sm-6">
   
      	 
          
      	 <div class="panel panel-default">
           
   			<div class="panel-body">
              
              <div class="clearfix"></div>
              
				{{ content }}     
            </div>
            

         </div>
        
  	</div>
   
       
  	
    <br>
    
    <div class="clearfix"></div>
      
    <hr>
    <div class="col-md-12 text-center"><ul class="nav navbar-nav navbar" style="font-size:11px;">
             <li><a href="#" target="_ext">COMMERCE.GOV</a></li>
             <li><a href="#" target="_ext">PRIVACY POLICY</a></li>
             <li><a href="#" target="_ext">FOIA</a></li>
             <li><a href="#" target="_ext">USA.GOV</a></li>
             <li><a href="#" target="_ext">NO FEAR ACT</a></li>
             <li><a href="#" target="_ext">FAIR ACT</a></li>
             <li><a href="#" target="_ext">INFORMATION QUALITY</a></li>
             <li><a href="#" target="_ext">DISCLAIMER</a></li>
           </ul></div>
    <hr>
    
  </div>
</div>