<div class="row">
   <div class="col-md-12 col-sm-6">
   
      	 
          
      	 <div class="panel panel-default">
           <div class="panel-heading"><h3>{{page.title}}</h3></div>
   			<div class="panel-body">
              
              <div class="clearfix"></div>
              
				<iframe style="width:100%;height:1000px;padding:0;margin:0;" frameBorder="0"src="http://api.c2er.org/stateincentives/v1.0/demo/SelectUSA/default.asp?guid={C18CB85C-DE5F-4D81-BE3D-7D677FB23231}&show=true">
 
</iframe>
    
            </div>
            

         </div>
        
  	</div>
   
       
  	
   {% include footer %}