
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/main.css" />
<link type="text/css" rel="stylesheet" media="print" href="stylesheets/print.css" />
<link type="text/css" rel="stylesheet" media="screen" href="stylesheets/screen.css" />
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" media="screen" href="/sites/selectusa.my.commerce.gov/themes/selectusa/css/blueprint/ie.css?0" />
<link type="text/css" rel="stylesheet" media="screen" href="/sites/selectusa.my.commerce.gov/themes/selectusa/css/ie.css?0" />
<![endif]-->
<!--[if gte IE 7]>
<link type="text/css" rel="stylesheet" media="screen" href="/sites/selectusa.my.commerce.gov/themes/selectusa/css/ie7.css?0" />
<![endif]-->

