 <div id="header">

            <div id="header-inner">

                <!-- Skip to nav links -->

                                    <div class="access hide">

                        <a href="#primary-nav" name="Navigation" rel="Skip to the site navigation">Skip to Navigation</a>

                        <a href="#main" name="Main" rel="Skip to the site main content">Skip to Content</a>

                    </div>

                 

            <!-- logo -->

                 

                    <div id="logo">

                        <a href="http://selectusa.github.io/website/" title="Home"><img src="images/logo.png" alt="Home" /></a>

                    </div>

                	    <!-- logo end -->

                <div id="site-title">

                    <!-- Site Name -->

                                        <div id="site-name">

                        <h1><span><a href="http://selectusa.github.io/website/" title="Home">SelectUSA</a></span></h1>

                    </div>

                                                            <!-- Site Name End -->

                </div>

            <!-- Site Search -->

                            <div id="site-search" class="hide">

                    <form action="/career-opportunities"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <label for="edit-search-theme-form-1">Search: </label>
 <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" class="form-text search-field" />
</div>
<input type="image" name="op" value="Search" id="edit-submit"  class="form-submit" src="{{ site.baseurl }}{{ post.url }}/images/search.png" alt="Search" title="Search" />
<input type="hidden" name="form_build_id" id="form-XxZnwyt_VcD6258HVWKqkf-DaZ5HX1UqakK0cM3kInk" value="form-XxZnwyt_VcD6258HVWKqkf-DaZ5HX1UqakK0cM3kInk"  />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
</div>

</div></form>
                </div>

                                    <div id="info-bar" class="clearfix pngfix hide">

                <div id="block-menu-menu-footer-links" class="block block-menu">

  <div class="content">
    <ul class="menu"><li class="leaf first"><a href="frequently-asked-questions.html" title="">Frequently Asked Questions</a></li>
<li class="leaf"><a href="contact-us.html" title="Contact">Contact Us</a></li>
<li class="leaf"><a href="https://service.govdelivery.com/service/subscribe.html?code=USITATRADE_22 " title="Link to GovDelivery subscription sign up page">Sign up</a></li>
<li class="leaf last"><a href="https://twitter.com/selectusa" title="Follow SelectUSA on Twitter">Twitter</a></li>
</ul>  </div>
</div>
            </div>

                        

            

            </div>

          </div>          

        <!-- end header -->



 <!-- primary navigation start -->

        <div id="primary-nav" class="clearfix hide">

                            <ul class="menu"><li class="leaf first active-trail"><a href="{{ site.baseurl }}{{ post.url }}/" title="" class="active">Home</a></li>
<li class="expanded"><a href="{{ site.baseurl }}{{ post.url }}/about-selectusa.html" title="SelectUSA mission and goals">About SelectUSA</a><ul class="menu"><li class="leaf first"><a href="{{ site.baseurl }}{{ post.url }}/reading-room.html" title="Blogs, news, and multimedia publications related to SelectUSA activities">Reading Room</a></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/selectusa-leadership.html" title="SelectUSA Leadership">SelectUSA Leadership</a></li>
<li class="leaf last"><a href="{{ site.baseurl }}{{ post.url }}/career-opportunities.html" title="Job Opportunities at SelectUSA">Career Opportunities</a></li>
</ul></li>
<li class="expanded"><a href="{{ site.baseurl }}{{ post.url }}/why-select-usa.html" title="Why Invest in the USA?">Why Select USA?</a><ul class="menu">
<li class="leaf first"><a href="#" title="Federal Programs and Incentives for Businesses">Federal Incentives</a></li>
<li class="leaf"><a href="http://selectusa.stateincentives.org/?referrer=selectusa" title="State and Territory Programs and Incentives for Businesses">State and Territory Incentives</a></li>
<li class="leaf last"><a href="{{ site.baseurl }}{{ post.url }}/they-chose-usa.html" title="Companies tell their investment success stories">Testimonials</a></li>
</ul></li>
<li class="expanded"><a href="{{ site.baseurl }}{{ post.url }}/services.html" title="Services Provided by SelectUSA">Services</a><ul class="menu"><li class="leaf first"><a href="{{ site.baseurl }}{{ post.url }}/business-solutions-investors.html" title="Business Solutions for Investors">Business Solutions for Investors</a></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/ombudsman-services.html" title="Ombudsman Service">Ombudsman</a></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/advocacy-service.html" title="Advocacy Service">Advocacy</a></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/single-location-promotion.html" title="Single Location Promotion">Single Location Promotion</a></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/facilitated-investment-mission.html" title="Facilitated Investment Mission">Facilitated Investment Mission</a></li>
<li class="leaf last"><a href="{{ site.baseurl }}{{ post.url }}/economic-development-organization-counseling.html" title="Economic Development Organization Counseling">Economic Development Organization Counseling</a></li>
</ul></li>
<li class="leaf"><a href="{{ site.baseurl }}{{ post.url }}/industry-snapshots.html" title="Industry Snapshots">Industries</a></li>
<li class="expanded"><a href="{{ site.baseurl }}{{ post.url }}/resources.html" title="Resources">Resources</a><ul class="menu"><li class="leaf first"><a href="{{ site.baseurl }}{{ post.url }}/business-investment-reports.html" title="Investment Reports">Reports</a></li><li class="leaf last"><a href="{{ site.baseurl }}{{ post.url }}/news.html" title="News">News</a></li>
</ul></li>
<li class="leaf"><a href="http://www.selectusasummit.com" title="SELECTUSA 2015 INVESTMENT SUMMIT">2015 Summit</a></li>
<li class="expanded"><a href="{{ site.baseurl }}{{ post.url }}/events.html" title="A summary of SelectUSA&#039;s recent events">Events</a><ul class="menu"><li class="leaf first"><a href="{{ site.baseurl }}{{ post.url }}/upcoming-events.html" title="Upcoming">Upcoming</a></li>
<li class="leaf last"><a href="{{ site.baseurl }}{{ post.url }}/past-events.html" title="Past">Past</a></li>
</ul></li>

</ul>                    </div><!-- /primary_menu -->

        <!-- primary navigation end-->

